<!doctype html>
<html>
<head>
    <title>D3 Test</title>
    <link href="/public/stylesheets/style.css" type="text/css" rel="stylesheet" />
    <script src="/public/javascripts/d3.v3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>